<mat-card *ngIf="user">
    <h2 style="text-align: center;">Your User Details!!</h2>
     
<mat-card-content>
    <!--  {{user | json}} -->
    <div class="bootstrap-wrapper">
                 
        <div class="container"> 
            <div class="container text-center">
                <img src="https://pngbackground.com/public/img-category/sc-happy-holi-editing-girl-png-Q6xQpMJNbGpcAC3W7xNEot4ZTIoVRaCj.webp" target="_blank" alt=""
                class="profile-image"
                />
                <h1 class="mt20">{{ user.firstname }} {{ user.lastname }}</h1>

            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                <table class="table text-center">
                    <tr>
                        <td>UserName</td>
                        <td>{{user.username}}</td>

                    </tr>
                    <tr>
                        <td>Id</td>
                        <td>EXAM{{user.id}}</td>

                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{user.phone}}</td>

                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{user.email}}</td>

                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{user.authorities[0].authority}}</td>

                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{user.enabled?"Active":"Not Active"}}</td>

                    </tr>
                </table>
               </div>
            </div>
        </div>
    </div>
</mat-card-content>
<mat-card-actions class="text-center">
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="Assent">Reset</button>
</mat-card-actions>

</mat-card>
